.footer{
    background-color: black;
    height: 88px;
    align-items: center;

    &__logo{
        gap: 12px;
        display: flex;
        width: 140px;
        padding-top: 25px;

        &-img{
            filter: invert(1);
        }

        &-text{
            color: white;
            font-weight: 500;
            font-size: 20px;
        }
    }

    &__copyright{

        &-text{
            color: white;
            font-weight: 400;
            float: right;
        }
    }
}